* { 
    padding: 0 0;
    margin: 0;
  
}
 .header {
    background-color: #1f2937; 
    color: white;
    font-weight: bold;
 }

.headertop {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 
    

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 8px;;

    
}

a {
    text-decoration: none;
    color: white;

}